<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf8">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/ru.js"></script>
    <title><%= title%></title>
    <style>
      body{
        background-color: rgb(255, 255, 255);
        margin: 0;
        padding: 0;
      }
      #flex_conteiner, .fw_top, .fw_bottom{
        display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
      }
      #botton_left{
        border-radius: 50%;
        background-color: black;
        color: white;
        padding: 2%;
      }
      #botton_right{
        border-radius: 50%;
        background-color: black;
        color: white;
        padding: 2%;
      }
      #calendar{
        width: 1046px;
        height: 650px;
        background-color: grey;
        
        
      }
      #calendar_title{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      #calendar_day_of_week{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      #calendar_table{
        margin: 0px 25px;
        border-top: 2px solid rgb(0, 0, 0);
        border-left: 2px solid rgb(0, 0, 0);
        display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
      }
      #calendar_head{
        margin: 0px 25px 3px;
      }
      #calendar_title{
        margin: 10px 0;
        font-weight: bold;
        font-size: 2em;
      }
      #calendar_day_of_week{
        
        font-weight: bold;
        font-size: x-large;
      }
      .bg1, .bg2, .bg3, .bg4, .bg_empty{
        width: 140px;
        height: 108px;
        border-bottom: 2px solid rgb(0, 0, 0);
        border-right: 2px solid rgb(0, 0, 0);
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
      }

      .fw_top{
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
      }

      .fw_bottom{
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-align-content: flex-end;
        -ms-flex-line-pack: end;
        align-content: flex-end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
      .date{
        font-weight: 700;
        font-size: 1.3em;
      }
      .logo{
        padding: 5px;
        border: 1px solid #000;;
      }
      .ampm_day{
        background-image: url(img/sun.png);
        width: 30px;
        height: 30px;
      }
      .ampm_night{
        background-image: url(img/moon.png);
        width: 30px;
        height: 30px;
      }
      .bg_empty {
        background: linear-gradient(142.5deg, rgb(129, 129, 129) 49%, rgb(0, 0, 0) 49.5%,rgb(0, 0, 0) 50.5%, rgb(78, 78, 78) 49%);
      }
      .bg1 {
        background: linear-gradient(142.5deg, rgb(255, 255, 0) 49%, rgb(0, 0, 0) 49.5%,rgb(0, 0, 0) 50.5%, rgb(0, 255, 0) 49%);
      }
      .bg2 {
        background: linear-gradient(142.5deg, rgb(0, 0, 255) 49%, rgb(0, 0, 0) 49.5%,rgb(0, 0, 0) 50.5%, rgb(255, 255, 0) 49%);
      }
      .bg3 {
        background: linear-gradient(142.5deg, rgb(255, 0, 0) 49%, rgb(0, 0, 0) 49.5%,rgb(0, 0, 0) 50.5%, rgb(0, 0, 255) 49%);
      }
      .bg4 {
        background: linear-gradient(142.5deg, rgb(0, 255, 0) 49%, rgb(0, 0, 0) 49.5%,rgb(0, 0, 0) 50.5%, rgb(255, 0, 0) 49%);
      }
      .shift_logo{
        position: absolute;
      }
      .bg1 > .fw_top::after{
        margin-top: 25px;
        content: url(img/pika.png);
        position: absolute;
      }
      .bg1 > .fw_bottom::before{
        margin-top: 3px;
        margin-left: -20px;
        content: url(img/bubey.png);
        position: absolute;
      }
      .bg2 > .fw_top::after{
        margin-top: 25px;
        content: url(img/4erva.png);
        position: absolute;
      }
      .bg2 > .fw_bottom::before{
        margin-top: 3px;
        margin-left: -20px;
        content: url(img/pika.png);
        position: absolute;
      }
      .bg3 > .fw_top::after{
        margin-top: 25px;
        content: url(img/kresta.png);
        position: absolute;
      }
      .bg3 > .fw_bottom::before{
        margin-top: 3px;
        margin-left: -20px;
        content: url(img/4erva.png);
        position: absolute;
      }
      .bg4 > .fw_top::after{
        margin-top: 25px;
        content: url(img/bubey.png);
        position: absolute;
      }
      .bg4 > .fw_bottom::before{
        margin-top: 3px;
        margin-left: -20px;
        content: url(img/kresta.png);
        position: absolute;
      }
    </style>
</head>
<body>
<div id="body">
    <div id="flex_conteiner">
      <div id="botton_left">
        ◀️
      </div>
      <div id="calendar">
        <div id="calendar_head">
          <div id="calendar_title">
            20.20.2020
          </div>
          <div id="calendar_day_of_week">
            <div>Пн</div>
            <div>Вт</div>
            <div>Ср</div>
            <div>Чт</div>
            <div>Пт</div>
            <div>Сб</div>
            <div>Вс</div>
          </div>
        </div>
        <div id="calendar_table">
          <div class="bg1">
            <div class="fw_top">
              <div class="date">15</div>
              <div class="ampm_day"></div>
            </div>
            <div class="fw_bottom">
              <div class="ampm_night"></div>
            </div>
          </div>
          <div class="bg2">
            <div class="fw_top">
              <div class="date">
                15
              </div>
              <div class="ampm_day"></div>
            </div>
            <div class="fw_middle">
              <div class="shift_logo"></div>
            </div>
            <div class="fw_bottom">
              <div class="ampm_night"></div>
            </div>
          </div>
          <div class="bg3"><div class="fw_top">
            <div class="date">
              15
            </div>
            <div class="ampm_day"></div>
          </div>
          <div class="fw_middle">
            <div class="shift_logo"></div>
          </div>
          <div class="fw_bottom">
            <div class="ampm_night"></div>
          </div></div>
          <div class="bg4"><div class="fw_top">
            <div class="date">
              15
            </div>
            <div class="ampm_day"></div>
          </div>
          <div class="fw_middle">
            <div class="shift_logo">
            </div>
          </div>
          <div class="fw_bottom">
            <div class="ampm_night"></div>
          </div></div>
          
          <div class="bg_empty"></div>
          <div class="bg2"></div>
          <div class="bg3"></div>
          <div class="bg4"></div>
          <div class="bg_empty"></div>
          <div class="bg2"></div>
          <div class="bg3"></div>
          <div class="bg4"></div>
          <div class="bg1"></div>
          <div class="bg2"></div>
          <div class="bg3"></div>
          <div class="bg4"></div>
          <div class="bg1"></div>
          <div class="bg2"></div>
          <div class="bg3"></div>
          <div class="bg4"></div>
          <div class="bg1"></div>
          <div class="bg2"></div>
          <div class="bg3"></div>
          <div class="bg4"></div>
          <div class="bg1"></div>
          <div class="bg2"></div>
          <div class="bg3"></div>
          <div class="bg4"></div>
          <div class="bg1"></div>
          <div class="bg2"></div>
          <div class="bg3"></div>
          <div class="bg4"></div>
          <div class="bg1"></div>
          <div class="bg2"></div>
          <div class="bg3"></div>
        </div>
      </div>
      <div id="botton_right">
        ▶️
      </div>
    </div>
</div>

</body>
<script></script>
</html>